{% extends 'sidenav.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/274ee977b7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
    {% load static %}
  
    <br>
    <style>
          body {
      background-color: rgb(229, 250, 255);
  padding: 20px;
}
      

        .card-container {
        perspective: 1000px;
        }

        .card {
            height: 150px;
            width: 200px;
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.8s;
          
           
        }

       

        .card .side {
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            position: absolute;
            justify-content: center;
            align-items: center;
        }

        .card .front {
            transform: rotateY(0deg); /* Ensure the front side is visible initially */
            display: flex;
        }

      

        .popup {
          display: none;
          position: fixed;
          top: 75%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #f9f5f5;
          padding: 20px;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          z-index: 9999;
        }

        .popup-content {
            text-align: center;
        }

       
      .table thead th,
.table tbody td {
  text-align: center; /* Adjust alignment as needed */
}
.table thead th {
  background-color: #090909; /* Blue color, change as needed */
  color: #fff; /* Text color, change as needed */
}

/* For table body alternating rows */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #ffffff; /* Light gray color, change as needed */
}

/* For table body text color */
.table tbody td {
  color: #333; /* Dark text color, change as needed */
}
.card {
      margin-bottom: 20px;
    }

    @media (min-width: 768px) {
      .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
      }
    }
    .card-img-top {
      width: 100%;
      height: auto;
    }




    </style>
</head>

<body>
  <!-- Dashboard -->

    <!-- Vertical Navbar -->
   
    <!-- Main content -->
  
    <br>
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <!-- Header -->
        <header class="bg-surface-primary border-bottom pt-6">
            <div class="container-fluid">
                <div class="mb-npx">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                            <!-- Title -->
                            <br>
                            <br>
                            <h1 class="h2 mb-0 ls-tight">Dashboard</h1>
                        </div>
                        <!-- Actions -->
                        <div class="col-sm-6 col-12 text-sm-end">
                            <div class="mx-n1">
                                <a href="#" class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-pencil"></i>
                                    </span>
                                    <span>Edit</span>
                                </a>
                                <a href="#" class="btn d-inline-flex btn-sm btn-primary mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-plus"></i>
                                    </span>
                                    <span>Create</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Nav -->
                    <ul class="nav nav-tabs mt-4 overflow-x border-0">
                        <li class="nav-item ">
                            <a href="#" class="nav-link active">All files</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link font-regular">Shared</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link font-regular">File requests</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <br>
        <br>
        <div class="container mt-4">
          <div class="row">
          
            <div class="col-md-4">
              <div class="card">
                <img src="https://www.scnsoft.com/blog-pictures/crm-pics/top-crm-market-statistics_02-customer-engagement-platforms.png" style="height: 150px; width: 250px;" class="card-img-top" alt="Image">
                <div class="card-body">
                 
                </div>
              </div>
            </div>
          
            <div class="col-md-4">
              <div class="card">
                <img src="https://www.superoffice.com/globalassets/blog/2014/3/crm-software-revenue-forecast-2017.png" style="height: 150px; width: 250px;" class="card-img-top" alt="Image">
                <div class="card-body">
                 
                </div>
              </div>
            </div>
           
            <div class="col-md-4">
              <div class="card">
                <img src="https://www.superoffice.com/globalassets/blog/2014/3/most-important-crm-feature-2017.png" style="height: 150px; width: 250px;" class="card-img-top" alt="Image">
                <div class="card-body">
                 
                </div>
              </div>
            </div>
            
            <!-- Add more card elements as needed -->
          </div>
        </div>
        <br>
        <br>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <!-- Image -->
              <img src="https://knowledge.carolina.com/wp-content/uploads/2021/08/graph_3068300.jpg" style="height: 300px; width: 400px;" class="img-fluid" alt="Your Image"><br>
             
            </div>
            <div class="col-md-6">
              <img src="https://www.slideteam.net/wp/wp-content/uploads/2016/08/cONSTRUCTION-dASHBOARD.png" style="height: 300px; width: 400px;" class="img-fluid" alt="Your Image">
             
              <p></p>
            </div>
          </div>
        </div>
        <br>
      
        <br>
      
        <!-- Bootstrap JS (optional, if you need dropdowns, modals, etc.) -->
       
      
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
              
                <!-- Card stats -->
               
                <div class="container mt-3 mb-3 pt-1">
                  <h1 class="text-center mt-3 mb-3 display-4"><u></u></h1>
                  <div class="row">
                    
                    {% if '1' not in dashboard %}
                    <div class="col-sm-3 mb-3">
                      <div id="draggable1" class="card" draggable="true" >
                        <div class="side front" >
                          <div class="card-body">
                            <div class="row">
                                <div class="col">
                                  
                                    <span class="h6 font-semibold text-muted text-sm d-block mb-2">Work load</span>
                                    <span class="h3 font-bold mb-0">95%</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-warning text-white text-lg rounded-circle">
                                        <i class="bi bi-minecart-loaded"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2 mb-0 text-sm">
                                <span class="badge badge-pill bg-soft-success text-success me-2">
                                    <i class="bi bi-arrow-up me-1"></i>10%
                                </span>
                                <span class="text-nowrap text-xs text-muted">Since last month</span>
                            </div>
                        </div>
                   
                     
                        </div>
                       
                      </div>
                    </div>
                    {% endif %}
                    
            
            
                    {% if '2' not in dashboard %}
                    <div class="col-sm-3 mb-3">
                      <div id="draggable2" class="card" draggable="true" >
                        <div class="side front">
                        <div class="card-body">
                          <h5 class="text-center">New project</h5>
                          <h6 class="text-center">215</h6>
                          <h6 class="text-center">since last month</h6>
                        
                        </div>
                        </div>
                        
                      </div>
                    </div>
                    {% endif %}
            
                    {% if '3' not in dashboard %}
                    <div class="col-sm-3 mb-3">
                      <div id="draggable3" class="card" draggable="true">
                        <div class="side front">
                        <div class="card-body">
                          <h5 class="text-center">Total hours</h5>
                          <h6 class="text-center">1.400</h6>
                          <h6 class="text-center">since last month</h6>
                        
                        </div>
                        </div>
                       
                      </div>
                    </div>
                    {% endif %}
            
            
                    {% if '4' not in dashboard %}
                  <div class="col-sm-3 mb-3">
                    <div id="draggable4" class="card" draggable="true">
                      <div class="side front">
                      <div class="card-body">
                        <h5 class="text-center">Budget</h5>
                        <h6 class="text-center">Price : ₹750</h6>
                        <h6 class="text-center">since last month</h6>
                    
                      </div>
                      </div>
                    
                  </div>
                  {% endif %} 
                  </div>
                </div>
          
          
                <!-- Add a pop-up element -->
                <div id="popup" class="popup">
                  <div class="popup-content">
                    <img src="https://img.freepik.com/premium-vector/trash-can-logo_609277-204.jpg" style="height: 50px; width: 50px;"  class="img-fluid">
                  </div>
                </div>
          
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- Image -->
      <img src="https://i0.wp.com/sellingsignals.com/wp-content/uploads/2022/01/Example-open-pipe-dashboard-from-Salesforce-Essentials.png" style="height: 300px; width: 400px;" class="img-fluid" alt="Your Image"><br>
     
    </div>
    <div class="col-md-6">
      <img src="https://media.geeksforgeeks.org/wp-content/uploads/20210620051432/progres1-660x353.png" style="height: 300px; width: 400px;" class="img-fluid" alt="Your Image">
     
      <p></p>
    </div>
  </div>
</div>
<br>
<br>
<br>
 
   
    
                <div class="container">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>@johnny</td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>Jane</td>
                            <td>Doe</td>
                            <td>@jane</td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>Mark</td>
                            <td>Smith</td>
                            <td>@mark</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
<br>
<br>

   
     
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <!-- Image -->
            <img src="https://thumbs.dreamstime.com/b/business-chart-uptrend-line-graph-colorful-bar-chart-d-design-white-color-background-93730068.jpg" class="img-fluid" alt="Your Image">
          </div>
          <div class="col-md-6">
            <!-- Other content here -->
            <h2>chart</h2>
            <p>Simplifying the complexity of large sets of data by making them visually organized when presented makes it easier for people to understand and connect with the conclusions that can be drawn from data analysis. In American engineer Willard Cope Brinton's 1914 book, Graphic Methods for Presenting Facts, he stated, "Millions of dollars yearly are spent in the collection of data, with the fond expectation that the data will automatically cause the correction of the conditions studied . . . though accurate data and real facts are valuable, when it comes to getting results the manner of presentation is ordinarily more important than the facts themselves</p>
          </div>
        </div>
      </div>
      <br>
   
     
    


      

      


    <script>


    





    document.querySelectorAll('.card').forEach(card => {
              card.addEventListener('dragstart', function(e) {
                  e.dataTransfer.setData('text/plain', card.id);
                  document.getElementById('popup').style.display = "block"; // Show the popup
              });
          });
      
          document.getElementById('popup').addEventListener('dragover', function(e) {
              e.preventDefault();
          });
      
          document.getElementById('popup').addEventListener('drop', function(e) {
              e.preventDefault();
              document.getElementById('popup').style.display = "none"; // Hide the popup
              var data = e.dataTransfer.getData('text/plain');
              if (data) {
                  var card = document.getElementById(data);
                  card.parentNode.removeChild(card); // Remove the dropped card from the page
              }
          });
      
          document.addEventListener('dragover', function(e) {
              e.preventDefault();
          });
          
          document.addEventListener('drop', function(e) {
              e.preventDefault();
              document.getElementById('popup').style.display = "none"; // Hide the popup
          });





          // Function to retrieve card IDs from the first page and redirect to the second page with item_ids
          function redirectToSecondPage() {
              var cardIds = [];
              document.querySelectorAll('.card').forEach(card => {
                  var cardId = card.id.replace('draggable', '');
                  cardIds.push(cardId);
              });
              var linkToSecondPage = '{% url "archieve" %}?item_ids=' + cardIds.join(',');
              window.location.href = linkToSecondPage; // Redirect to the second page with card IDs
          }



          document.addEventListener("DOMContentLoaded", function() {
            const enquiryBox = document.getElementById("enquiry-box");
            const enquiryLink = document.getElementById("enquiry-link");
            const closeEnquiryBox = document.getElementById("close-enquiry-box");
            
            enquiryLink.addEventListener("click", function(event) {
                event.preventDefault();
                enquiryBox.style.display = "block";
            });
        
            closeEnquiryBox.addEventListener("click", function() {
                enquiryBox.style.display = "none";
            });
        });





    </script>




  
<footer style="background-color: #f9f5f5"  class="footer mt-auto py-3  text-center ">
  <p><b>&copy; 2024 Your Website. All rights reserved.</b></p>
  <p><b>&copy; crm@gmail.com.</b></p>
 
 
  <p class="mt-auto text-black">
     <b> Phone: +91 9966337780</b>
     </p>
</footer> 

{% endblock %}

</body>
</html>